{% extends "base.html" %}

{% block content %}

<div id="particles-js"></div>

<div class="auth-wrapper">

<div class="glass-card">

<i class="fas fa-shield-alt ai-icon"></i>

<h2 class="text-center mb-3">AI News Verifier</h2>

<p class="text-center subtitle">
Detect misinformation using Artificial Intelligence
</p>

{% if error %}
<div class="alert alert-danger text-center">
{{error}}
</div>
{% endif %}

<form method="POST">

<div class="input-group">
<input type="email" name="email" required>
<label>Email</label>
</div>

<div class="input-group">
<input type="password" name="password" required>
<label>Password</label>
</div>

<div class="d-flex gap-2">

<button type="submit" name="role" value="user" class="ai-btn">
User Login
</button>

<button type="submit" name="role" value="admin" class="ai-btn admin-btn">
Admin Login
</button>

</div>

</form>

<div class="auth-links">

<a href="/forgot-password">Forgot Password?</a>
<p>
    New user?
</p>
<a href="/signup" class="signup-btn">Create Account</a>

</div>

</div>

</div>

{% endblock %}